@font-face {
  font-family: "MadeInfinity";
  src: url("font/made_infinity/MADEINFINITYPersonalUse-Regular.otf");
}

/* Aplica la fuente a todo el documento */
* {
  font-family: "MadeInfinity";
}

body {
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
}

#welcome {
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
}

.welcome{
  border-radius: 20px;
}

.Iniciarsesion{
  display:flex;
color:white;
border: 2px solid #ffffff;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 20px;
background-color: white;
}

.Iniciarsesion a{
  color: rgb(238, 4, 101); 
  text-align: center;
  text-decoration: none;
  font-size:40px;
}

.atrasbutton{
  border-radius: 1000px;
  color: rgb(238, 4, 101); 
  background-color: #ffffff;
}

.button-link{
  text-decoration: none;
}

.welcome:before,
.welcome:after {
  content: "";
    position: absolute;
    top: 0; /* Cambiado para que cubra completamente */
    left: 0; /* Cambiado para que cubra completamente */
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1; /* Debajo del contenido */
    animation: animate 10s ease alternate infinite;
  }

  .welcome h1{
    color:white;
    font-size:60px;
  }
  
  .welcome:after{
    filter: blur(20px); /* Añade un desenfoque al borde */
    z-index: -2;
  }






#chat {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message {
  display: inline-block;
  margin: 5px 0;
  padding: 10px;
  border-radius: 20px;
  word-wrap: break-word;
  max-width: 70%;
  position: relative;
}

/* Estilo para los mensajes enviados */
.message.sent {
  color: white;
  background-color: #ffb6c1;
  align-self: flex-end;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to right, #d80e6c, #a54aa5);
}

.message.sent::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #d80e6c;
}

/* Estilo para los mensajes recibidos */
.message.received {
  color: white;
  background-color: #c8a2c8;
  align-self: flex-start;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to right, #3090ad, #0f26ac);
}

.message.received::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #3090ad transparent transparent;
}

input[type="text"], input[type="file"], button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: flex;
  align-items: center; 
  flex-direction: row;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding:20px;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.chatbtn{
  display: flex;
  align-items: center; 
  flex-direction: row;
  background-color: #e40072;
  color: white;
  cursor: pointer;
  padding:10px;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;
}


.privateChatAccess {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 239, 239, 0.712); /* Fondo semitransparente */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #faf6ff;
  border-radius: 20px;
}

.privateChatAccess h2{
color:white;
}
/* Pseudoelemento antes */
.privateChatAccess:before,
.privateChatAccess:after {
  content: "";
  position: absolute;
  top: 0; /* Cambiado para que cubra completamente */
  left: 0; /* Cambiado para que cubra completamente */
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400% 400%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1; /* Debajo del contenido */
  animation: animate 10s ease alternate infinite;
}

/* Pseudoelemento después */
.privateChatAccess:after {
  filter: blur(20px); /* Añade un desenfoque al borde */
  z-index: -2; /* Asegúrate de que esté detrás del primero */
}

/* Animación para el borde */
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}